
{% block aside_navbar %}

	{% block stylesheets %}
		<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
		<style>:root
		{
			--nav-width: 92px;

			/* === Colors === */
			--primary-color: #623cea;
			--bg-color: #12192c;
			--sub-color: #b6cefc;
			--white-color: #ffff;

			--body-font: "Marianne", arial, sans-serif;
			--normal-font-size: 1rem;
			--small-font-size: 0.875rem;
			--z-fixed: 100;
		}

		*,
		::before,
		::after {
			box-sizing: border-box;
		}

		body {
			position: relative;
			margin: 0;
			padding: 2rem 0 0 6.75rem;
			font-family: var(--body-font);
			font-size: var(--normal-font-size);
			transition: 0.5s;
		}

		h1 {
			margin: 0;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		a {
			text-decoration: none;
		}

		.container {
			position: fixed;
			top: 0;
			left: 0;
			width: var(--nav-width);
			height: 100vh;
			padding: 1.5rem 1.5rem 2rem;
			background-color: var(--bg-color);
			color: var(--white-color);
			transition: 0.5s;
			z-index: var(--z-fixed);
		}

		.nav {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
			overflow: hidden;
		}

		.nav_brand {
			display: inline-flex;
			grid-template-columns: max-content max-content;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2rem;
		}

		.nav_toggle {
			font-size: 1.25rem;
			padding: 0.75rem;
			cursor: pointer;
		}

		.nav_logo {
			color: var(--white-color);
			font-weight: 600;
		}

		.nav_link {
			display: grid;
			grid-template-columns: max-content max-content;
			align-items: center;
			column-gap: 0.75rem;
			padding: 0.75rem;
			color: var(--white-color);
			border-radius: 0.5rem;
			margin-bottom: 1rem;
			transition: 0.3s;
			cursor: pointer;
		}

		.nav_link:hover {
			background-color: var(--primary-color);
		}

		.nav_icon {
			font-size: 1.25rem;
		}

		.nav_name {
			font-size: var(--small-font-size);
		}

		.expander {
			width: calc(var(--nav-width) + 9.25rem);
		}

		.body-pd {
			padding: 2rem 0 0 16rem;
		}

		.active {
			background-color: var(--primary-color);
		}

		.collapse {
			grid-template-columns: 20px max-content 1fr;
		}

		.collapse_link {
			justify-self: flex-end;
			transition: 0.5s;
		}

		.collapse_menu {
			display: none;
			padding: 0.75rem 2.25rem;
		}

		.collapse_sublink {
			color: var(--sub-color);
			font-size: var(--small-font-size);
		}

		.collapse_sublink:hover {
			color: var(--white-color);
		}

		.showCollapse {
			display: block;
			transition: 5s;
		}

		.rotate {
			transform: rotate(180deg);
			transition: 5s;
		}
	</style>
{% endblock %}

{% block content %}
	<body id="body">
		<div class="container" id="navbar">
			<nav class="nav">
				<div>
					<div class="nav_brand">
						<ion-icon name="menu-outline" class="nav_toggle" id="nav-toggle"></ion-icon>
						<a href="#" class="nav_logo">Dashboard</a>
					</div>
				</div>
				<ul>
					<li>
						<a href="#" class="nav_link active">
							<ion-icon name="home-outline" class="nav_icon"></ion-icon>
							<span class="nav_name">Home</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav_link">
							<ion-icon name="person-outline" class="nav_icon"></ion-icon>
							<span class="nav_name">Mon compte</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav_link">
							<ion-icon name="calendar-outline" class="nav_icon"></ion-icon>
							<span class="nav_name">Calendrier</span>
						</a>
					</li>
					<li>
						<div class="nav_link collapse">
							<ion-icon name="folder-outline" class="nav_icon"></ion-icon>
							<span class="nav_name">Projets</span>

							<ion-icon name="chevron-down-outline" class="collapse_link"></ion-icon>
							<ul class="collapse_menu">
								<a href="#" class="collapse_sublink">ReactSearch</a>
								<a href="#" class="collapse_sublink">Whitejob</a>
								<a href="#" class="collapse_sublink">SensioLab's</a>
							</ul>
						</div>
					</li>
					<li>
						<a href="#" class="nav_link">
							<ion-icon name="save-outline" class="nav_icon"></ion-icon>
							<span class="nav_name">Saved</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav_link">
							<ion-icon name="people-outline" class="nav_icon"></ion-icon>
							<span class="nav_name">Team</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav_link">
							<ion-icon name="settings-outline" class="nav_icon"></ion-icon>
							<span class="nav_name">Settings</span>
						</a>
					</li>
				</ul>
				<a href="#" class="nav_link">
					<ion-icon name="log-out-outline" class="nav_icon"></ion-icon>
					<span class="nav_name">Log Out</span>
				</a>
				<figure class="logo" id="logo">
					<img src="{{ asset('img/logo-apside.png') }}" alt="logo" class="logo_img" width="100%" height="auto">
				</figure>
			</nav>
		</div>
		<h1>Hello Farid, Welcome!</h1>
	</body>

	{% block script %}
		<script src={{ asset('js/icon.js') }}></script>
		<script type="text/javascript">
			const showMenu = (toggleId, navbarId, bodyId) => {
  const toggle = document.getElementById(toggleId),
    navbar = document.getElementById(navbarId);
  body = document.getElementById(bodyId);

  if (toggle && navbar) {
    toggle.addEventListener("click", () => {
      navbar.classList.toggle("expander");
      body.classList.toggle("body-pd");
    });
  }
};
showMenu("nav-toggle", "navbar", "body");

/* == Active attribute == */
const linkColor = document.querySelectorAll(".nav_link");
function colorLink() {
  linkColor.forEach((item) => item.classList.remove("active"));
  this.classList.add("active");
}
linkColor.forEach((item) => item.addEventListener("click", colorLink));

/* == Collapse Menu == */
const linkCollapse = document.getElementsByClassName("collapse_link");
for (let i = 0; i < linkCollapse.length; i++) {
  linkCollapse[i].addEventListener("click", function () {
    const collapseMenu = this.nextElementSibling;
    collapseMenu.classList.toggle("showCollapse");

    const rotate = collapseMenu.previousElemntSibling;
    rotate.classList.toggle("rotate");
  });
}
</script>
{% endblock %}
{% endblock %}{% endblock %}
